asn1crypto==0.24.0
cffi==1.12.3
PyCrypto==2.6.1
certifi==2019.6.16
chardet==3.0.4
Django==1.11.23
django-cache-machine==1.1.0
djangorestframework==3.9.3
django-qiniu-storage==2.3.1
drf-extensions==0.5.0
idna==2.8
optionaldict==0.1.1
pycparser==2.19
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.2
qiniu==7.2.6
redis==3.3.7
requests==2.22.0
sentry-sdk==0.11.1
six==1.12.0
urllib3==1.26.5
wechatpy==1.7.6
xmltodict==0.12.0
yunpian-python-sdk==1.0.0